<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- This links to the CSS file -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <!-- This links the javascript -->
	<script type="text/javascript" src="/app.js"></script>
    <!-- This links the google font -->
    <link href="https://fonts.googleapis.com/css?family=Lusitana:700" rel="stylesheet">

    <title>NYT Scraper</title>
 	</head>
 	<body>
        {{!--Navigation bar--}}
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">NYT News Scraper</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Scraped Articles </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/saved">Saved Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Re-Scrape Articles</a>
                    </li>
                </ul>
                {{!-- <span class="navbar-text">WELCOME TO NEWS SCRAPER OF THE ONION</span> --}}
            </div>
        </nav>
        <div class="container">
 		    {{{ body }}}
        </div>
    </body> 	
</html>